<div class="flex flex-col items-center">
  <h1 *ngIf="!users" class="text-4xl mt-2">History</h1>
  <ul class="flex flex-col my-2 w-full">
    <li
      *ngFor="let item of list"
      class="text-3xl border-b w-full flex h-16 hover:bg-slate-50"
      [ngStyle]="
        !users && !item.lastMessage ? { display: 'none' } : { display: 'flex' }
      "
    >
      <button
        (click)="getChatRoom(currentUser.id, item.user.id)"
        class="flex flex-col items-center justify-center w-full"
      >
        <p>
          {{ item.user.username }}
        </p>
        <p *ngIf="!users" class="text-base text-gray-600 w-full">
          {{ item.lastMessage }}
        </p>
      </button>
    </li>
  </ul>
</div>
