@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.app-container {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 3.5em auto;
}

.topbar {
  grid-column: span 2;
}
