<div class="h-full relative">
  <div #chatDiv class="overflow-y-scroll w-full absolute h-5/6">
    <ul class="flex flex-col">
      <li
        *ngFor="let message of messageList"
        class="rounded-lg w-fit px-2 py-1 m-4 text-lg"
        [ngClass]="
          message.fromId === currentUserId
            ? 'self-end bg-blue-400 text-gray-100'
            : 'self-start bg-gray-100 text-black'
        "
      >
        {{
          message.fromId === toUser.id ? toUser.username : currentUserUsername
        }}: {{ message.text }}
      </li>
    </ul>
  </div>
  <div
    class="border-t-2 h-12 flex items-center justify-center w-full absolute bottom-0"
  >
    <form #form class="flex justify-center w-5/6">
      <input
        [(ngModel)]="newMessage"
        name="input"
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-60000 rounded-lg w-4/5 px-2 mx-2"
      />
      <button
        class="w-fit px-2 rounded-md bg-blue-500 text-gray-50"
        type="submit"
        (click)="sendMessage()"
      >
        Send
      </button>
    </form>
  </div>
</div>
