<div class="h-full relative">
  <div #chatDiv class="overflow-y-scroll w-full absolute">
    <ul class="flex flex-col">
      <li
        *ngFor="let message of messageList"
        class="rounded-lg w-fit px-2 py-1 m-4 text-lg"
        [ngClass]="
          message.fromId === currentUserId
            ? 'self-end bg-blue-500 text-gray-100'
            : 'self-start bg-gray-100 text-black'
        "
      >
        {{ message.fromId === toUser.id ? toUser.username : "you" }}:
        {{ message.text }}
      </li>
    </ul>
  </div>
  <div
    #form
    class="border-t-2 h-12 flex items-center justify-center w-full absolute bottom-0"
  >
    <form class="flex justify-center w-5/6">
      <input
        [(ngModel)]="newMessage"
        name="input"
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-60000 rounded-lg w-4/5 px-2 mx-2 focus:outline-none focus:border-1 focus:border-blue-500"
      />
      <button
        class="w-fit px-2 rounded-md bg-blue-500 text-gray-50 hover:bg-blue-700"
        type="submit"
        (click)="sendMessage()"
      >
        Send
      </button>
    </form>
  </div>
</div>
