<div class="h-full pt-4">
  <form (keyup)="searchUser()" class="flex justify-center h-10">
    <input
      [ngClass]="showSidebar ? '' : 'hide-sidebar-content'"
      class="block w-4/5 h-10 p-4 text-gray-900 border focus:outline-none focus:border-blue-500 rounded-lg bg-white"
      [(ngModel)]="input"
      name="input"
      autocomplete="off"
      placeholder="Search for users..."
    />
    <button (click)="toggleShowSidebar()" class="mx-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </button>
  </form>
  <app-chat-list [users]="users"></app-chat-list>
</div>
